.App {
  text-align: center;
  background-color: black;
  padding-top: 50px;
}
h2 {
  color: white;
  margin: 0;
  font-size: 80px;
}
.clock {
  min-height: 79vh;
  align-items: center;
  justify-content: center;
}

